body {
  background-color: #b97a56;
}
navbar-nav {
  align-items: center;
}
.sobre {
  text-align: center;
  padding: 40px 20px;
  background-color: #a30000; /* Cor que remete a comida/restaurante */
  color: #fff;
}
.sobre {
  text-align: center;
  padding: 40px 20px;
  background-color: #a30000; /* Cor que remete a comida/restaurante */
  color: #fff;
}
h1 {
  text-align: center;
}
