.form-container {
    width: 500px;
    padding: 20px;
    background: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px #e9e9e9f3;
    background-color: rgba(255, 255, 255, 0.969) !important;
    color: rgb(0, 0, 0);
    margin: 10px auto;

}

.navbar {
    top: 1px;
    position: sticky;
    z-index: 999;

}

form {
    display: grid;
    gap: 20px;
    padding-top: 20px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.217);
    border-radius: 4px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(9, 23, 14, 0.146);
    border-radius: 4px;
}

button {
    padding: 10px 200px;
    background-color: #FFC312;
    color: white;
    border: none;
    border-radius: 4px;


}

button:hover {
    background-color: #ffc41276;
    cursor: pointer;



}



h2,
h4,
#setaVoltar {
    text-align: center;
}

@media(max-width: 600px) {
    .form-container {
        width: 80vw;
    }

    input {
        padding: 6px;

    }

    button {
        
        padding: 8px 10px;
    }
}


input:focus:invalid {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.548);

    color: red
}

input:focus:valid {

    box-shadow: 0 0 5px rgba(0, 128, 0, 0.696);
    color: green
}