*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../img/fundo.jpg');
}
#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: rgb(51, 51, 51);
}
.title{
    font-size: 1.8em;
    margin-bottom: 10%;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
.input input{
width: 80%;
border: none;
outline: none;
font-family: Arial, Helvetica, sans-serif;
transform: translateY(-10%);
color:#6f7e8a;
font-size: 11pt;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color:#fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#btn button:hover{
    background-color: #6f7e8a;
}
