body {
    background-color: #ffffff;


}

/* Para fixar o menu equanto faz o scroll da página */
.navbar {
    top: 1px;
    position: sticky;
     z-index: 999;
}

#textoCorrendo {
    background-color: rgb(245, 255, 151);
}




/* #carouselExample,
.navbar,
#textoCorrendo {
    margin: 1px 200px;
}

@media(max-width: 988px) {

    #carouselExample,
    .navbar,
    #textoCorrendo {
        padding: 10px 0 0 0;
        margin: auto;
    }
}

@media(max-width: 600px) {

    #carouselExample,
    .navbar,
    #textoCorrendo {
        margin: auto;
    }
} */